.section-user-profile {
	@include size-wiew;
}

.container {
	display: flex;
	margin-left: 16%;
	margin-right: 16%;
	column-gap: 50px;
}

.col {
	flex: 50%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	h3 {
		font-family: $principal-font;
	}
	p {
		font-family: $secondary-font;
	}
}

.alignRight {
	text-align: right;
	margin-right: 10%;
}

.inputBox {
	@include form-style;
	width: 100%;
}

.addBtn {
	@include principal-button(200px);
}

.modBtn {
	@include principal-button(100px);
}

.addProp {
	@include principal-button(50px);
}

.properties {
	.photos {
		display: flex;
		justify-content: flex-start;
		column-gap: 10px;
	}
	&__image {
		width: 100px;
		height: 100px;
		display: block;
		background-size: cover;
	}
	.btns-photo {
		margin-top: 10px;
	}
	.notImage {
		font-family: $secondary-font;
	}
}

.edit-form {
	width: 400px;
	padding: 7px;

	h4 {
		font-family: $secondary-font;
	}
	label {
		font-family: $secondary-font;
		font-size: 12px;
	}
	select,
	input {
		border: 1px solid #b6b6b6;
		padding: 7px;
		border-radius: 6px;
	}
	p {
		font-family: $secondary-font;
		font-size: 12px;
		padding: 7px;
	}
	.addBtn {
		margin-top: 10px;
	}
}
