$primary-color: #0084ff;
$color-menu: white;
$color-menu-hover: black;
$form-bg: #eeeeee;
$button-color: black;
$button-color-text: white;
$bg-footer: black;
$order-text: #6b6b6b;

$principal-font: "Overpass", sans-serif;
$secondary-font: "Poppins", sans-serif;
