.header__nav {
  background-color: #0084ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 5px 15px;
}

.header__logo {
  font-family: "Overpass", sans-serif;
  font-size: 20px !important;
  font-weight: bold;
}

.message-error {
  background-color: rgba(250, 115, 149, 0.5);
  font-family: "Overpass", sans-serif;
  padding: 20px;
  color: red;
  display: none;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #0084ff;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
}

.footer a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal__wrapper {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal__wrapper pre {
  white-space: initial;
}

.modal__wrapper h1 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.modal__wrapper p {
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.modal__btn-close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -28px;
  right: -25px;
  border: 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.modal__btn-close:hover {
  color: white;
  background-color: black;
}

.modal__btn-close span {
  font-size: 25px;
}

.errors {
  width: 404px;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 5px 20px;
  font-weight: 300;
}

.errors p {
  color: red;
  font-size: 14px !important;
  font-family: "Poppins", sans-serif;
}

.errors p span {
  font-weight: 400;
}

.order-now__form .errors {
  width: 259px;
}

.section-home {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: rgba(135, 135, 135, 0.5);
  padding: 20px;
}

.section-home__filters {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.section-home__filters-button {
  font-family: "Poppins", sans-serif;
  background-color: black;
  padding: 10px;
  color: white;
  width: 150px;
  border: 0;
  cursor: pointer;
}

.section-home__filters-button:hover {
  color: #0084ff;
}

.section-home__filters-search {
  background-color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
}

.section-home__btn-search {
  border: none;
  background: transparent;
  cursor: pointer;
}

.section-home__btn-search img {
  width: 30px;
}

.section-home__card-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.card__img {
  background-size: cover;
  height: 200px;
  display: block;
}

.card__title {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin-top: 25px;
}

.card__address {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 14px;
}

.card__price {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 14px;
}

.card__price span {
  color: #0084ff;
  font-weight: bold;
}

.card__button {
  font-family: "Poppins", sans-serif;
  background-color: black;
  padding: 10px;
  color: white;
  width: 150px;
  border: 0;
  cursor: pointer;
  margin-top: 20px;
}

.card__button:hover {
  color: #0084ff;
}

.detail h3 {
  font-family: "Poppins", sans-serif;
}

.detail__img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.detail__img-container img {
  width: 100%;
}

.detail__img-container .properties__image {
  width: 200px;
  height: 200px;
}

.detail .soon {
  font-family: "Poppins", sans-serif;
}

.section-login {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: rgba(135, 135, 135, 0.5);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-login .div1-image {
  width: 30%;
  -ms-flex-line-pack: left;
      align-content: left;
}

.section-login .div2-form-login {
  width: 50%;
}

.section-login .inputLogin {
  display: block;
  width: 50%;
  margin-bottom: 5%;
  margin-left: 15%;
  color: gray;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  border: none;
}

.section-login .modBtn-login {
  width: 40%;
  background-color: black;
  color: white;
  padding: 2%;
  margin-left: 15%;
  cursor: pointer;
}

.section-login #h2-login {
  margin-top: 10%;
  margin-left: 15%;
  font-family: "Poppins", sans-serif;
}

.section-register {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: rgba(135, 135, 135, 0.5);
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section-register__title {
  font-family: "Overpass", sans-serif;
}

.section-register__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-register__image img {
  width: 100%;
}

.section-register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  font-family: "Poppins", sans-serif;
}

.section-register__form label {
  font-size: 14px;
}

.section-register__form-two-columns {
  -webkit-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-register__form-two-columns input {
  width: 100%;
}

.section-register__form-one-column {
  -webkit-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.section-register__form-button {
  font-family: "Poppins", sans-serif;
  background-color: black;
  padding: 10px;
  color: white;
  width: 400px;
  border: 0;
  cursor: pointer;
}

.section-register__form-button:hover {
  color: #0084ff;
}

.section-register__form input {
  background-color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
}

.section-register__form select {
  background-color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
}

.section-register__p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.section-user-profile {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: rgba(135, 135, 135, 0.5);
  padding: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16%;
  margin-right: 16%;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.col h3 {
  font-family: "Overpass", sans-serif;
}

.col p {
  font-family: "Poppins", sans-serif;
}

.alignRight {
  text-align: right;
  margin-right: 10%;
}

.inputBox {
  background-color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  width: 100%;
}

.addBtn {
  font-family: "Poppins", sans-serif;
  background-color: black;
  padding: 10px;
  color: white;
  width: 200px;
  border: 0;
  cursor: pointer;
}

.addBtn:hover {
  color: #0084ff;
}

.modBtn {
  font-family: "Poppins", sans-serif;
  background-color: black;
  padding: 10px;
  color: white;
  width: 100px;
  border: 0;
  cursor: pointer;
}

.modBtn:hover {
  color: #0084ff;
}

.addProp {
  font-family: "Poppins", sans-serif;
  background-color: black;
  padding: 10px;
  color: white;
  width: 50px;
  border: 0;
  cursor: pointer;
}

.addProp:hover {
  color: #0084ff;
}

.properties .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.properties__image {
  width: 100px;
  height: 100px;
  display: block;
  background-size: cover;
}

.properties .btns-photo {
  margin-top: 10px;
}

.properties .notImage {
  font-family: "Poppins", sans-serif;
}

.edit-form {
  width: 400px;
  padding: 7px;
}

.edit-form h4 {
  font-family: "Poppins", sans-serif;
}

.edit-form label {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.edit-form select,
.edit-form input {
  border: 1px solid #b6b6b6;
  padding: 7px;
  border-radius: 6px;
}

.edit-form p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 7px;
}

.edit-form .addBtn {
  margin-top: 10px;
}

.section-components-example {
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: rgba(135, 135, 135, 0.5);
  padding: 20px;
}

.section-components-example__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.section-components-example__form-two-columns {
  -webkit-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-components-example__form-one-column {
  -webkit-column-gap: 20px;
          column-gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-components-example__form-button {
  font-family: "Poppins", sans-serif;
  background-color: black;
  padding: 10px;
  color: white;
  width: 400px;
  border: 0;
  cursor: pointer;
}

.section-components-example__form-button:hover {
  color: #0084ff;
}

.section-components-example__form input {
  background-color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fbece8;
}
/*# sourceMappingURL=styles.css.map */