// general
@import "./variables";
@import "./mixins";

// components
@import "./components/header";
@import "./components/footer";
@import "./components/modal";
@import "./components/errors";

// pages
@import "./pages/home";
@import "./pages/login";
@import "./pages/register";
@import "./pages/user-profile";
@import "./pages/components-example";

body {
	padding: 0;
	margin: 0;
	background-color: #fbece8;
}
